<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
  link(rel="stylesheet", href="/static/1.css")
</head>
<body>
  <h1>Image Upload</h1>
<h3>Technologies</h3>
  <form action="/" method="post" >
    //- <!-- <input type="file" name="image" accept="image/*"> -->
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="email" placeholder="E-mail">
    <input type="text" name="job" placeholder="work">
    <input type="text" name="location" placeholder="lacaion">
    <input type="text" name="github" placeholder="GitHub link">
    <input type="number" name="number" placeholder="ph.number">
    <h3>Skills</h3>
    <div>
    <ul class="skills"> 
    </ul>
    <li class="add" onclick="skadd()">Add</li>
    </div>
    <h3>Technologies</h3>
    <div> 
      <ul class="tech"> 

    </ul>
    <li class="techadd" onclick="techadd()">Add</li>
    </div>
    <div>
    <h3>Education </h3>
    <ul class="education">
    </ul>
    <p class="edadd" onclick="edadd()">Add</p>
    </div>
    <button>submit</button>
  </form>
  <script src="/static/1.js"></script>
</body>
</html> 