<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
  link(rel="stylesheet", href="/static/1.css")
</head>
<body>
  <h1>Image Upload</h1>

  <form action="/" method="post" >
    //- <!-- <input type="file" name="image" accept="image/*"> -->
    <input type="text" name="name" >
    <input type="text" name="email" >
    <input type="text" name="job" >
    <input type="text" name="location" >
    <input type="text" name="github" >
    <input type="number" name="number" >
    <h3>Skills</h3>
    <ul class="skills"> 
      <li class="list"></li>
    </ul>
    <li class="add" onclick="add()">Add</li>
    <button>submit</button>
  </form>
  <script src="/static/1.js"></script>
</body>
</html> 