<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
                <link rel="stylesheet" href="/static/next.css"></head>
                <body>
                    <body>
                        <div>
                            <nav>
                                <h3>cvmaker</h3>
                            </nav>
                        </div>

                        <div class="heading__bg"></div>

                        <div>
                            <h1 class="heading">Fill the other Details
                            </h1>
                        </div>
                        <form action="/further" method="post">
                        <div class="center flex-container">
                            <div class="info">
                                <div class="name">
                                    <p class="pad">Secondary School Education</p>
                                    <input type="text" name="school" id="school" class="box">
                                        <p class="pad">Higher Secondary Education</p>
                                        <input type="text" name="college" id="name1" class="box">
                                    </div>
                                </div>

                                <div class="degree">
                                    <p>Degree</p>
                                    <input type="text" name="degree" class="box">
                                </div>
                                <div class="skills">
                                    <h2>Skills</h2><div><p class="plus" onclick=addsk()>+</p> </div>
                                </div>
                                <div class="addskills">
                                    <ul>

                                    </ul>
                                </div>
                                <div class="exp"><h2>Experience</h2><div><p class="plus" onclick=addexp()>+</p> </div>
                                </div>
                                <div class="addexp">
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <button class="btn next">Submit</button>
                            </div>
                        </form>
                            <script src="/static/next.js"></script>
                        </body>
                    </body>
                </html>
            </body>
