<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/personalinfo.css">
    <title>Document</title>
</head>
<body>
    <div >
       
</div>

<div class="heading__bg"></div>

<div>
  <h1 class="heading">Personal Details </h1>
</div>

<form action="/" method="post">
<div class="center flex-container" >
<div>
  
  <div class="info">
    <div class="name"> <img src="static/GNAKEm.jpg" alt=""></div>
    <div class="name">
      <p class="pad">Firstname</p>
      <input type="text" name="name1" id="name1" class="box">
      <p class="pad">Lastname</p>
      <input type="text" name="name1" id="name2" class="box">
    </div>
  </div>

  <div class="col">
    <p>Email-address</p>
    <input type="text" class="box" name="email">
    <p>Phone number</p>
    <input type="text" class="box" name="number">
  </div>

  <div class="address">
    <p>Address</p>
    <input type="text" class="box" name="address">
  </div>

  <div class="col">
    <p>Zip Code</p>
    <input type="text" class="box" name="code">
    <p>City/Town</p>
    <input type="text" class="box" name="city">
  </div>

  <div class="additional">
    <div class="addinfo">
      
    </div>
    <p class="btn add" onclick=add()>Additional information</p>
  </div>
  </div>
  
</div>
<div>
  <button class="btn next">NEXT</a></button>
</div>
</form>
<script src="static/main.js"></script>
</body>
</html>